<ion-header>
  <ion-toolbar color='primary'>
    <!-- Boton principal del menu -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!-- Botonos auxiliares -->
    <ion-buttons slot="end">
      <!-- Refrescar lista  -->
      <ion-button (click)="refresh()">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
      <!-- añadir cotizacion -->
      <ion-button (click)="onClickAdd()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Cotizaciones</ion-title>
  </ion-toolbar>

  <br>
  <ion-item> 

    <ion-searchbar (ionChange)="onChangeSearchText($event)" placeholder="IdCliente-Nombre Ciente- Vendedor - Cotizacion - Orden"
      debounce=800></ion-searchbar>

  </ion-item>

  <ion-row>

    <ion-col *ngIf="_cargando">
      <div class="ion-text-center">

        <h3>Cargando datos.........</h3>

      </div>
    </ion-col>

  </ion-row>
</ion-header>

<ion-content>

  <!-- <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->

  <!-- listado de cotizaciones  -->

  <ion-list>

    <ion-item-sliding *ngFor="let cotizacion of appGeneralQuotesGetDtoArray">

      <ion-item (click)="presentActionSheet(cotizacion)">
        <ion-label>

          <p>   {{cotizacion.mtrClienteDto.descripcion}}  </p>
          <p>  <b> Cotizacion: </b> {{ cotizacion.cotizacion }} </p>
          <p>  <b> Estatus: </b> {{ cotizacion.appStatusQuoteGetDto.descripcion }} </p> 
          <p>  <b> Fecha : </b> {{ cotizacion.fechaString }} </p>
          <p>  <b> Orden Compra: </b> {{cotizacion.ordenCompra}}</p>
          <p>  <b> items: </b> {{cotizacion.appDetailQuotesGetDto.length}}</p>
          <p *ngIf="cotizacion.orden>0">  <b> Orden: </b> {{cotizacion.orden}}</p>
        </ion-label>
      </ion-item>

      <!-- Menu de acciones -->
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="presentActionSheet(cotizacion)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

</ion-content>

