<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Buscar Cliente</ion-title>
  </ion-toolbar>

  <ion-row>

    <ion-searchbar (ionChange)="onChangeSearchCliente($event)" placeholder="Codigo-Nombre-Rif" debounce=800>
    </ion-searchbar>


  </ion-row>
  <ion-row>

    <ion-col *ngIf="show">
      <div class="ion-text-center">

        <h3>Cargando datos......</h3>

      </div>
    </ion-col>

  </ion-row>

</ion-header>

<ion-content>
  <ion-list>

    <ion-item *ngFor="let item of mtrClienteDto" (click)="SelectClient(item)">
      <ion-label>

        <h3 text-capitalize> {{ item.codigo }}-{{ item.nombre }}</h3>
        <p>{{ item.no_Reg_Tribut }}</p>
        <p>{{ item.vendedor1 }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold='15%' (ionInfinite)=loadMore($event)>
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando...">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>