.bold{
    font-weight: bold;    
}

.listatasa{
    font-weight: bold;
    background-color: yellow !important;
    color: black;
    padding: 4px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

