<style> 
.center {
  border: 1px solid red;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
</style>
<ion-header>
    <ion-toolbar [color]="colorToolbar">
        <!-- Boton principal del menu -->
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-buttons slot="start">

            <button ion-button (click)="goListDetalleCotizacion()">
                <ion-back-button></ion-back-button>
            </button>

        </ion-buttons>

        <ion-title>{{tituloUi}}</ion-title>

        <ion-buttons slot="end">

            <div *ngIf="!solicitarPrecio">   

                <ion-button (click)="imprimirCotiza(cotizacion)" size="large">
                    <ion-icon name="print-outline"></ion-icon>
                    <!-- <ion-icon name="checkmark" style="color: white; font-size: 2.2em; font-weight:900;" slot="end"></ion-icon> -->
                </ion-button>
            </div>
           
            <ion-button *ngIf="!showLoading" (click)="calculadoraModal()" size="large">
                <ion-icon name="calculator-outline"></ion-icon>
                <!-- <ion-icon name="checkmark" style="color: white; font-size: 2.2em; font-weight:900;" slot="end"></ion-icon> -->
            </ion-button>
            <div *ngIf="editable">
                <ion-icon *ngIf="showLoading" name="cloud-upload-outline" size="large"></ion-icon>
                <ion-button *ngIf="!showLoading" (click)="onSave()" [disabled]="!form.valid" size="large">
                    <ion-icon name="save-outline"></ion-icon>
                    <!-- <ion-icon name="checkmark" style="color: white; font-size: 2.2em; font-weight:900;" slot="end"></ion-icon> -->
                </ion-button>
            </div>
           

        </ion-buttons>

    </ion-toolbar>
    
    <ion-row>

        <ion-col *ngIf="showLoading">
          <div class="ion-text-center">
    
            <h3>Guardando Cotizacion.........</h3>
    
          </div>
        </ion-col>
    
      </ion-row>
</ion-header>

<ion-content >

    <div has-header="true" padding="true" >

        <ion-list *ngIf=" this.uiImageLink!=''"  >
            <ion-item >
            
                
                <img src="{{uiImageLink}}">
               
                <ion-label style="padding-left:20px;">
                    <p class="ion-text-wrap"> {{item.cotizacion}} - {{ uiNombreProductoInCard }} </p>
                    <p class="listatasa"> 
                        $ {{ descripcionSalesUnit }} : {{generalService.maskFloat(uiUnitPriceConverted,4) }}  
                      
                    </p>
                    <p class="listatasa">
                        {{ cantidadPorUnidadProduccion }} {{ descripcionSalesUnit }} X {{
                        decripcionProductionUnit }}
                    </p>
                    <!-- <p class="listatasa">
                        $ {{ decripcionProductionUnit }}:{{generalService.maskFloat(unitPriceBaseProduction,4)}}  %Flete: {{cotizacion.porcFlete}}  Flete: {{generalService.maskFloat(flete,2)}} = {{ generalService.maskFloat(precioMasFlete)}}
                    </p> -->
                    <p class="listatasa">
                        $ {{ decripcionProductionUnit }}: {{ generalService.maskFloat(precioMasFlete)}}
                    </p>
                    <p class="bold">
                        Tasa: {{ generalService.maskFloat(uiTasa,4) }}
                    </p>
                </ion-label>
            </ion-item>


           
    
    
    
        </ion-list>
        
        <form [formGroup]="form" novalidate style="display: flex; justify-content: center;">
    
       
        
                <ion-grid >

                  
        

                    <ion-row *ngIf="false">
                        <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                            <ion-item>
                                <ion-input class="ion-text-wrap" type="text" formControlName="producto" placeholder="Codigo Producto">
                                </ion-input>
                    
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <!-- Combo Subcategoria -->
                    <ion-row>
                        <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                            <ion-item>
                            
                                <ion-label position="floting">SubCategoria:</ion-label>
                            
                                <ion-select formControlName="subCategoriaId" [(ngModel)]="_subCategoryid" (ionChange)="onChangeSubCategoriaId($event)">
                            
                                    <ion-select-option *ngFor="let item of appSubcategoryGetDto" [value]="item.id">
                                
                                        {{item.description}}
                                
                                    </ion-select-option>
                            
                                </ion-select>
                            
                            </ion-item>
                        </ion-col>
                    </ion-row>
 

                    <ion-row>
                        <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                          
                            <ion-item>
                                <!-- <ion-label position="stac ked" class="bold">Nombre Comercial Producto</ion-label> -->
                                <ion-textarea type="text" formControlName="nombreComercialProducto" placeholder="Descripcion del producto ">
                                </ion-textarea>
                                <div *ngIf="_subCategoryid==1">
                                    <ion-button (click)="onBuscarProducto()">
                                        <ion-icon name="search-outline"></ion-icon>
                                    </ion-button>
                                </div>
                                <div *ngIf="_subCategoryid==2">
                                    <ion-button (click)="onBuscarProductoGeneral()">
                                        <ion-icon name="search-outline"></ion-icon>
                                    </ion-button>
                                </div>

                                
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                            <ion-item>
                                <ion-input type="text" formControlName="unidad" readonly placeholder="Buscar Unidad">
                                </ion-input>
                                <div *ngIf="_requiereDatosEntrada==false">
                                    <ion-button (click)="onBuscarUnidad()" [disabled]="_btnUmDisabled">
                                        <ion-icon name="search-outline"></ion-icon>
                                    </ion-button>
                                </div>
                                <div *ngIf="_requiereDatosEntrada==true">
                                    <ion-button (click)="onBuscarUnidadConEntradas()" [disabled]="_btnUmDisabled">
                                        <ion-icon name="search-outline"></ion-icon>
                                    </ion-button>
                                </div>
                                
                            </ion-item>
                        </ion-col>
                    </ion-row>
    
                    <!-- Cantidad Solicitada-->
                    <ion-row>
                        <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                            <ion-item>
                                <ion-label style="align-items: left" class="bold">Cant.{{ descripcionSalesUnit }}:</ion-label>

                                    <input inputmode="numeric" style="display: inline-block;text-align: left;" currencyMask formControlName="cantidadSolicitada"
                                    [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left',precision: 0}"
                                    (ngModelChange)="cantidadSolicitadaChanged($event)" />

                                
        
                            </ion-item>
                        </ion-col>
                    </ion-row>
        
                    <!-- Cantidad -->
                    <ion-row>
                        <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                            <ion-item>
                                <ion-label class="bold">Cant.{{ decripcionProductionUnit }}:</ion-label>
                                <input currencyMask formControlName="cantidad"
                                    [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left',precision: 3}"
                                    readonly="true" />
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <!-- si es  US$ -->
                    <div *ngIf="isDolar">
                          <!-- Precio US$ -->
                            <ion-row>
                                <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                                    <ion-item>
                                        <ion-label class="bold">
                                            <p class="listatasa">
                                                ({{generalService.maskFloat(precioMasFlete,2)}})     
                                            </p>
                                            <p>
                                                Precio US$:
                                            </p>
                                            
                                        </ion-label>
                                        <input inputmode="numeric"  currencyMask formControlName="precioUsd"
                                            [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left',precision: 2}"
                                            (ngModelChange)="precioUsdChanged($event)" />
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                
                            <!-- Total US$ -->
                            <ion-row>
                                <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                                    <ion-item>
                                        <ion-label class="bold">Total US$:</ion-label>
                                        <input currencyMask formControlName="totalUsd"
                                            [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left',precision: 2}"
                                            readonly />
                
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                    </div>
                  
                     <!-- Si es  Bs -->
                     <div *ngIf="isBs">
                            <!-- Precio Bs -->
                            <ion-row>
                                <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                                    <ion-item>
                                        <ion-label class="bold">
                                            <p class="listatasa">
                                                ({{generalService.maskFloat(precioMasFlete * uiTasa ,2)}})
                                            </p>
                                            <p >
                                                Precio Bs.:
                                            </p>
                                            
                                        </ion-label>
                                        <input inputmode="numeric"  currencyMask formControlName="precio"
                                            [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left',precision: 2}"
                                            [readonly]="!isBs"
                                            (ngModelChange)="precioChanged($event)"  />

                                    </ion-item>
                                </ion-col>
                            </ion-row>

                            <!-- Total Bs. -->
                            <ion-row>
                                <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                                    <ion-item>
                                        <ion-label class="ion-align-items-start" class="bold">Total Bs.:</ion-label>
                                        <input currencyMask formControlName="total"
                                            [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left',precision: 2}"
                                            [readonly]="!isBs" class="ion-align-items-start" />

                                    </ion-item>
                                </ion-col>
                            </ion-row>
                     </div>       
        
                  
        
                    <!-- Dias -->
                    <ion-row *ngIf="false">
                        <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                            <ion-item>
                                <ion-label position="fixed" class="bold">Dias Entrega</ion-label>
                                <ion-input type="number" formControlName="diasEntrega">
                                </ion-input>
        
                            </ion-item>
                        </ion-col>
                    </ion-row>
        
                    <ion-row>
                        <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                           <!-- Cantidad Por Caja -->
                            <ion-item *ngIf="false">
                                <ion-label position="fixed" class="bold">Cantidad X Caja</ion-label>
                                <ion-input type="number" formControlName="quantityPerPackage">
                                </ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
    
                    <ion-row>
                        <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                          <!-- obs -->
                        <ion-item>
                            <ion-label position="floating" class="bold">Observaciones</ion-label>
                            <ion-textarea formControlName="observaciones" rows="2" cols="50">
                            </ion-textarea>
                        </ion-item>
                        </ion-col>
                    </ion-row>
                    <div *ngIf="this.item.statusAprobacionDto"> 
                        <ion-item *ngIf="this.item.statusAprobacionDto && this.item.statusAprobacionDto.valorVentaAprobarUsd>0 && !solicitarPrecio">
                            <p class="listatasa">
                              Precio Aprobado:  {{ this.item.statusAprobacionDto.valorVentaAprobarUsd }} - {{ this.item.statusAprobacionDto.statusString }} 
                            </p>
                            
                          
                        </ion-item>
                    </div>
                  
                    <ion-row *ngIf="solicitarPrecio ">
                        <ion-col size-lg="6" size-md="6" size-sm="6" size="12">

                            <ion-item *ngIf="this.item.statusAprobacionDto">
                                <p class="listatasa">
                                  Precio Aprobado:  {{ this.item.statusAprobacionDto.valorVentaAprobarUsd }} - {{ this.item.statusAprobacionDto.statusString }} 
                                </p>
                                
                              
                            </ion-item>
                            <ion-item>
                               
                                <ion-col>
                
                                    <ion-button type="button" shape="round" color="danger" [disabled]="_btnCalculadoraDisabled"
                                        class="button button-block" (click)="EnviarAprobacion()">
                                        Enviar Aprobacion Por Precio y Salvar
                                    </ion-button>
                                </ion-col>
                            </ion-item>
                
                            <ion-item>
                                <ion-col>
                                    <ion-label>Obs.</ion-label>
                                    <ion-textarea formControlName="obsSolicitud" rows="6" cols="1"
                                        placeholder="Ingrese detalle de la solicitud...">
                                    </ion-textarea>
                                </ion-col>
                            </ion-item>
                        </ion-col>
                    </ion-row>
               
                    
                </ion-grid>
        
            
        
        
            
        
        </form>
    
    </div>

   



   

</ion-content>