
<ion-card no-padding>
    <ion-card-header>            
        <ion-card-title class="primary">
            Información General
        </ion-card-title>
    </ion-card-header>    
    <ion-card-content no-padding>  
        Cotización: {{cotizacion.cotizacion}}
        <br />
        Nombre: {{cotizacion.mtrClienteDto.nombre}}
        <br />
        Fecha Cotización: {{cotizacion.fecha}}
        <br />
        Vendedor: {{cotizacion.mtrVendedorDto.nombre}} 
    </ion-card-content>
</ion-card>
  