<ion-header>
  <ion-toolbar color='primary'>

      <!-- Boton principal del menu -->
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  
      <!-- Botonos auxiliares -->
      <ion-buttons slot="end">
        
        <ion-button (click)="refresh()">
          <ion-icon name="refresh"></ion-icon>
        </ion-button>

        <!-- añadir variable -->
        <ion-button (click)="onClickAdd()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>

      </ion-buttons>

      <ion-title>configuracion-list</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

    
  
  <ion-list>

    <ion-searchbar (ionChange)="onChangeSearchText($event)" placeholder="Search Config" debounce=800>

    </ion-searchbar>

    <!-- Listado de variables  -->

    <ion-item-sliding *ngFor="let item of appConfigGetDto">

      <ion-item (click)="presentActionSheet(item)">
        <ion-label>

          <p>  {{ item.clave }}  </p>
          <p>  {{ item.valor }}  </p>

        </ion-label>
      </ion-item>

      
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="presentActionSheet(item)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

</ion-content>
