<ion-header>
  <ion-toolbar color='primary'>

      <!-- Boton principal del menu -->
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  
      <!-- Botonos auxiliares -->
      <ion-buttons slot="end">
        
        <ion-button (click)="refresh()">
          <ion-icon name="refresh"></ion-icon>
        </ion-button>

        <!-- añadir variable -->
        <ion-button (click)="onClickAdd()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>

      </ion-buttons>

      <ion-title>ProductosList</ion-title>

  </ion-toolbar>

  <ion-row>

    <ion-col *ngIf="showLoading">
      <div class="ion-text-center">

        <h3>Guardando Cotizacion.........</h3>

      </div>
    </ion-col>

  </ion-row>
</ion-header>

<ion-content>
 
  <ion-list>

    <ion-searchbar (ionChange)="onChangeSearchText($event)" placeholder="SearchProducts" debounce=800>

    </ion-searchbar>

    

    <ion-item-sliding *ngFor="let product of appProductsGetDto">

      <ion-item (click)="presentActionSheet(product)">

        <img tyle="float: left; padding: 15px 20px 10px 20px;" src="{{product.link}}">
  
        <ion-label style="padding-left:20px;">
          <p>   {{ product.code }} </p>
          <p>   {{ product.description1 }} </p>
          <p>   {{ product.description2 }} </p>
          <p>   Precio:{{ product.unitPrice }} </p>
          <br>
        </ion-label>
       
      </ion-item>

      
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="presentActionSheet(product)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list> 

</ion-content>
